@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
// Описуємо тло, відключаємо гладкість тексту, встановлюємо шрифт, та плавну анімацію
body {
    background: #448cd0;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.55s ease;
  }
  
  // Описуємо кнопки Наступній Та Поперній
  .btn {
    border-radius: 2px;
    padding: 8px 12px;
    color: #448cd0;
    font-size: 14px;
    font-style: bold;
    font-family: 'JetBrains Mono';
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.55s ease;
  }
  
  // Описуємо плейсхолдер для контенту продукту
  .card {
    background: #FFFFFF;
    max-width: 400px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 48px;
    text-align: center;
  }
  

  // Описуємо загалом усі продукти
  .products {
    position: relative;
    overflow: hidden;
    transition: 0.55s ease;
  }
  
  // Описуємо приховані продукти(аждже показується лише активний)
  .product {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.55s ease;
  }

  // Описуємо активний продукт
  .product.active {
    opacity: 1;
    visibility: visible;
  }
  
  // Описуємо картинку Персонажа
  .thumbnail {
    margin: 0 0 48px;
  }
  

  // Описуємо поле з іменем персонажа
  .title {
    margin: 0 0 12px;
    color: #448cd0;
    font-size: 25px;
    font-family: 'JetBrains Mono';
    transition: 0.5s ease;
  }
  

  // Описуємо поле що нижче імені персонажу
  .description {
    margin: 0 0 50px;
    font-family: 'JetBrains Mono';
  }
  
  // Опусуємо блок з кнопками Попередній та Наступний
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -12px -12px;
  }
  
  // Описуємо позицію хвилі на екрані і те що вона не може вийти за межі обєкту
  [ripple] {
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  // Описуємо саму хвилю що будемо викликати, її колір , розмір, анімацію та її час
  [ripple] .ripple {
    position: absolute;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0);
    -webkit-animation: ripple 3s;
            animation: ripple 3s;
  }
  


  // Опис анімації хвилі від початку до кінця
  @-webkit-keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.2;
    }
    100% {
      transform: scale(20);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.2;
    }
    100% {
      transform: scale(20);
      opacity: 0;
    }
  }