body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_box {
    display: none;
    height: 640px;
    width: 640px;
    background-color: #b62f43;
    border-radius: 20px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 30px  ;
}

.start_box{
    display: flex   ;
    height: 640px;
    width: 640px;
    /*background-image: url('assets/images/start_menu.png');*/
    background-color: #0f1923;
    border-radius: 20px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 30px  ;
}

.input_guide {
    float: left;
    width: 200px;
    height: 100px;
    background-color: #58219c;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 20px 20px 30px #4b1c85, -20px -20px 30px #6526b3;
}

.input_guide p {
    font-family: "JetBrains Mono";
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
}


.reload_button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.reload_button::before,
.reload_button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.reload_button::before {
    top: 0;
    border-bottom-width: 0;
}

.reload_button::after {
    bottom: 0;
    border-top-width: 0;
}

.reload_button:active,
.reload_button:focus {
    outline: none;
}

.reload_button:active::before,
.reload_button:active::after {
    right: 3px;
    left: 3px;
}

.reload_button:active::before {
    top: 3px;
}

.reload_button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
    font-family: "JetBrains Mono";
}

.reload_button:hover {
    color: #0f1923;
}

.reload_button:hover .button_sl {
    width: calc(100% + 15px);
}

.reload_button:hover .button_lg::after {
    background-color: #fff;
}


button {
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 40px "JetBrains Mono";
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
}

.name {
    width: 100%;
    text-align: center;
    padding: 0 0 3rem;
    padding-top: 4rem;
    font: 500 14px "JetBrains Mono", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.button-parrot .parrot {
    position: absolute;
    width: 60px;
    text-align: center;
    animation: blink 0.8s infinite;
    color: transparent;
}

.button-parrot .parrot:before {
    content: "Клацни по мені!";
}

.button-parrot .parrot:nth-child(1) {
    top: -30px;
    left: -40px;
    font: 12px/1 "JetBrains Mono", sans-serif;
    transform: rotate(-20deg);
    animation-duration: 0.5s;
}

.button-parrot .parrot:nth-child(2) {
    font: 12px/1 "JetBrains Mono", sans-serif;
    right: -40px;
    top: -20px;
    transform: rotate(15deg);
    animation-duration: 0.3s;
}

.button-parrot .parrot:nth-child(3) {
    font: 16px/1 "JetBrains Mono", sans-serif;
    top: -60px;
    left: 15px;
    transform: rotate(10deg);
    animation-duration: 1s;
}

.button-parrot .parrot:nth-child(4) {
    font: 18px/1 "JetBrains Mono", sans-serif;
    top: -70px;
    left: 95px;
    transform: rotate(2deg);
    animation-duration: 0.7s;
}

.button-parrot .parrot:nth-child(5) {
    font: 14px/1 "JetBrains Mono", sans-serif;
    top: 80px;
    left: 105px;
    transform: rotate(-20deg);
    animation-duration: 0.8s;
}

.button-parrot .parrot:nth-child(6) {
    font: 12px/1 "JetBrains Mono", sans-serif;
    top: 80px;
    left: 5px;
    transform: rotate(10deg);
    animation-duration: 1.2s;
}

.button-parrot button:hover .parrot:before {
    content: "!!! НУЖБО !!!";
    width: 70px;
}

@keyframes blink {
    25%, 75% {
        color: transparent;
    }

    40%, 60% {
        color: #fff;
    }
}