/* Імпорт шрифту JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');


/* Опис тла сайту, вибір кольору та шрифту */
body {
	background-color: #00705e;
	font-family: 'JetBrains Mono', monospace;
}

/* Налаштування загального позиціювання та створення "тла терміналу", заокруглення, відступи, додавання тінней і таке інше*/
.container {
	margin: 50px auto;
	text-align: center;
	background: #333;
	width: 700px;
	padding: 100px 0;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 5px 5px 15px #000;
}

/* Налаштування лінії вікна терміналу */
.line {
	position: relative;
	top: -190px;
	left: 0;
	background: #ccc;
	width: 100%;
	height: 30px;
}

/* Налаштування блоку 3-ьох кружків */
.wrapper-circle {
	display: flex;
	position: relative;
	top: -217px;
	left: -290px;
}


/* Налаштування кружка */
.circle {
	background: #000;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 10px;
}

/* Різні кружки */
.circle-red {
	background: #EA695E;
}

.circle-orange {
	background: #EDB84C;
}

.circle-green {
	background: #63C054 ;
}

/* Налаштування поля вводу, заокруглення, вдіпступи, колір, тінь, шрифт і таке інше */
.input {
	border: none;
	border-radius: 15px;
	padding: 15px;
	background-color: #e8e8e8;
	-webkit-box-shadow: 6px 6px 12px #fff,
	-6px -6px 12px #c5c5c5;
	box-shadow: 6px 6px 12px #fff,
	-6px -6px 12px #c5c5c5;
	font-size: medium;
	font-weight: bold;
	max-width: 200px;
	margin-bottom: 40px;
}

/* Коли вибираєш вікно для вводу */
.input:focus {
	outline-color: #92e1d2;
}

/* Кнопки результатів */
.button {
	border-radius: 7px;
	border: none;
	background: #18ffd5;
	color: #000;
	font-family: inherit;
	text-align: center;
	font-size: 17px;
	box-shadow: 0 14px 56px -11px #18ffd5;
	width: 14em;
	padding: 1em;
	transition: all 0.4s;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}
/* Налаштування блоку з кнопками */
.wrapper-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}